---
layout: default
title: Documentation | Invana
description: Official documentation
---
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 mt-5">
                <h1>Find Help</h1>
                <p>Get started with basics, ask questions, find answers for yours queries in
                    <a href="https://github.com/invanalabs" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                    issues,
                    or open new one on the respective repository.</p>

            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <!--                <div class="row">-->
                <!--                    {% for item in site.data.products %}-->
                <!--                    <div class="col-md-12">-->
                <!--                        <a href="/docs/{{ item.slug }}/01-get-started" class="doc-list">-->
                <!--                            <div class="card mb-3">-->
                <!--                                &lt;!&ndash;                                <img src="{{item.cover_image}}"&ndash;&gt;-->
                <!--                                &lt;!&ndash;                                     class="card-img-top" alt="{{item.title}}">&ndash;&gt;-->

                <!--                                <div class="card-body">-->
                <!--                                    <h5>{{ item.title }}</h5>-->
                <!--                                    <p style="color: #343434" class="mb-0">{{item.description}}</p>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                    {% endfor %}-->
                <!--                </div>-->


                {% include help-videos.html %}
            </div>
            <div class="col-md-5">

                <div class="row">
                    <div class="col-md-12">
                        <h5>Find Help from Community</h5>
                        <hr>

                    </div>
                    <div class="col-md-12">
                        <ul class="list">
                            <li><a href="https://github.com/invanalabs" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i> GitHub issues</a></li>
                            <li><a href="https://www.youtube.com/channel/UCig8ToVakUPz6so6SXjg_Dg" target="_blank"
                                   rel="noopener">
                                <i class="fab fa-youtube"></i> Tutorials on Youtube  </a></li>
                            <li>
                                <a href="https://medium.com/invanalabs" target="_blank" rel="noopener ">
                                    <i class="fab fa-medium-m"></i> Stories on Medium
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <h5>Useful Resources</h5>
                        <hr>
                        <ul class="list">
                            {% for item in site.data.resources %}
                            <li>
                                <a href="{{ item.url }}" target="_blank">
                                    <i class="fas fa-cube"></i> {{ item.title }} <i
                                        class="fas fa-external-link-square-alt"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


