---
layout: default
title: Available Positions
---
<section class="header banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
</section>
<div class="container pt-5">
  <div class="row">
    <div class="col col-12">

      <div class="card">

          <div class="card-body">
            <h4>Full-time Positions</h4>
            <hr>
      {% for item in site.positions %}
        {% if item.position_type == "full_time" %}
        <h4><a href="{{site.baseurl}}/positions/{{item.slug}}">
          {{ item.title }}</a></h4>
        <!-- <p class="mb-0"></p> -->
        <p>{% for tech in item.technologies %} <span class="badge badge-info">{{tech}}</span> {%endfor %} </p>
        {% endif %}
      {% endfor %}
    </div>
</div>

    </div>

    <div class="col col-12 mt-4">

      <div class="card">

          <div class="card-body">
            <h4>Internship Positions</h4>
            <hr>

      {% for item in site.positions %}
      {% if item.position_type == "intern" %}

        <h5><a href="{{site.baseurl}}/positions/{{item.slug}}">
          {{ item.title }}</a>: {{item.project_title}}</h5>
        <!-- <p class="mb-0"></p> -->
        <p>{% for tech in item.technologies %} <span class="badge badge-info">{{tech}}</span> {%endfor %} </p>
        {% endif %}
      {% endfor %}
    </div>
</div>
    </div>
  </div>
</div>
