---
layout: default
title: Opensource @ Invana
---
<section class="header banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
</section>
<div class="container pt-5">
  <div class="row">
    <div class="col col-8">

      {% for item in site.codes %}

        <h4><a target="_blank" href="{{item.website}}">
          {{ item.title }}</a> </h4>
          {% if item.image_url %}
           <img src="{{item.image_url}}" class="img-fluid" alt="">
           {% endif %}
          {{item.content}}
        <p>  Click <a href="{{item.website}}" target="_blank"  class="a">
            here</a> to know more. </p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
