---
layout: default
title: Pricing
description: Find pricing information.
---

<style>
    .dedicated-support-section .card {
        min-height: 300px;
    }
</style>
<section>
    <div class="container  page-header-section">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4">Pricing</h1>
                <p>Find pricing for the products and services.</p>
                <hr>
            </div>

        </div>

    </div>
</section>
<div class="container  mt-2 mb-5">
    <div class="row mb-3">
        <div class="col-md-6 pt-4">
            <!--                    <a href="" class="ignore-link-hover ">-->
            <div class="card   mt-5 p-4">
                <div class="card-body p-2">
                    <h3 class="h5 font-weight-bold"> Free <small>for opensource</small>
                    </h3>
                    <p class="mb-1">Download and use our tools for building knowledge graphs,
                        from the opensource for free.</p>

                    <a href="/get-started" class="btn btn-success">Get Started&rarr;</a>

                    <div class="alert alert-info mt-3">❤️ Thanks for the opensource contributors
                        who made Invana's vision possible in their own way 🙏
                    </div>
                </div>
            </div>
            <!--                    </a>-->
        </div>
        <div class="col-md-6">
            <!--            <a href="/guides" class="ignore-link-hover ">-->
            <div class="card p-5 bg-primary text-dark">
                <div class="card-body">
                    <h3 class=" font-weight-bold">
                        Need support ?

                    </h3>
                    <p>Get in touch with us, if you need support for any of the following </p>
                    <ul class="list-group list-group-flush mt-4">
                        {% include services-list.html %}
                    </ul>

                    <a href="/contact" class="btn btn-dark mt-3">Schedule a call</a>
                </div>
            </div>
            <!--            </a>-->
        </div>
    </div>

    <!--    <div class="row">-->

    <!--        <div class="col-md-4">-->
    <!--            <div class="row">-->
    <!--                <div class="col-md-12">-->
    <!--                    <h5>Resources for help </h5>-->
    <!--                    <hr>-->
    <!--                </div>-->
    <!--                <div class="col-md-12">-->
    <!--                    <ul class="list">-->
    <!--                        <li><a href="https://github.com/invana" target="_blank" rel="noopener">-->
    <!--                            <i class="fab fa-github"></i> GitHub issues</a></li>-->
    <!--                        <li><a href="https://www.youtube.com/channel/UCig8ToVakUPz6so6SXjg_Dg" target="_blank"-->
    <!--                               rel="noopener">-->
    <!--                            <i class="fab fa-youtube"></i> Tutorials on Youtube </a></li>-->
    <!--                        <li>-->
    <!--                            <a href="https://medium.com/invana" target="_blank" rel="noopener ">-->
    <!--                                <i class="fab fa-medium-m"></i> Stories on Medium-->
    <!--                            </a>-->
    <!--                        </li>-->
    <!--                        <li>-->
    <!--                            <a href="https://tinkerpop.apache.org/docs/current/guides/getting-started/"-->
    <!--                               target="_blank" rel="noopener ">-->
    <!--                                <i class="fas fa-cube"></i> Get Started with TinkerPop-->
    <!--                            </a>-->
    <!--                        </li>-->
    <!--                        <li>-->
    <!--                            <a href="https://tinkerpop.apache.org/docs/current/reference/" target="_blank"-->
    <!--                               rel="noopener ">-->
    <!--                                <i class="fas fa-cube"></i> TinkerPop Documentation-->
    <!--                            </a>-->
    <!--                        </li>-->
    <!--                    </ul>-->

    <!--                </div>-->

    <!--            </div>-->
    <!--            <div class="row mt-4">-->
    <!--                <div class="col-md-12">-->
    <!--                    <h5>Useful links</h5>-->
    <!--                    <hr>-->
    <!--                    <ul class="list">-->
    <!--                        {% for item in site.data.resources %}-->
    <!--                        <li>-->
    <!--                            <a href="{{ item.url }}" target="_blank">-->
    <!--                                <i class="fas fa-cube"></i> {{ item.title }} <i-->
    <!--                                    class="fas fa-external-link-square-alt"></i>-->
    <!--                            </a>-->
    <!--                        </li>-->
    <!--                        {% endfor %}-->
    <!--                    </ul>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>


