---
layout: default
title: Invanatech Products
---
<div class="container pt-5">
  <div class="row">
    <div class="col col-7">

        {% for item in site.products %}
              <div class="card mb-3">
                <div class="card-body">
                  <h4><strong><a href="{{site.baseurl}}/products/{{item.slug}}">
                    {{ item.title }}</a></strong> <small>(<a href="http://{{item.website}}" target="_blank"  class="text-muted">
                       {{ item.website }}</a>)</small> </h4>
                  <!-- <p class="mb-0"></p> -->
                  <!-- <p>{% for tech in item.technologies %} <span class="badge badge-info">{{tech}}</span> {%endfor %} </p> -->
                    {{item.content}}

                    </div>
              </div>
        {% endfor %}
</div>
<div class="col col-5">
        <div class="card mb-3">
          <div class="card-body">
            {% for item in site.codes %}

            <h4 class="mb-1"><strong><a href="{{site.baseurl}}/products/{{item.slug}}">
              <i class="fab fa-github"></i> {{ item.github_url }}</a></strong>
              </h4>
              <p><a href="{{item.website}}" target="_blank"  class="text-muted">
                 {{ item.website }}</a></p>
            <!-- <p class="mb-0"></p> -->
            <!-- <p>{% for tech in item.technologies %} <span class="badge badge-info">{{tech}}</span> {%endfor %} </p> -->
              {{item.content}}
<div class="mb-4">

</div>
              {% endfor %}

              </div>
        </div>
</div>

  </div>
</div>
