<div class="row mt-5">
    <div class="col-md-7">
        <div class=" p-5">
            <div class="col-md-12 mt-5 mb-5"></div>
            <p class="text-uppercase  font-weight-400">Get started in just few minutes.</p>
            <h2>Build your first Knowledge Graph</h2>
            <p>Developer or not a developer, build your first knowledge graph with
                our opensource tools. </p>
            <a href="/get-started"  class="btn btn-dark mt-2">Get Started</a>
        </div>
    </div>
    <div class="col-md-5 text-dark">
        <div class=" p-5 border-start">
            <div class="col-md-12 mt-5 mb-5"></div>
            {% include join-community.html %}

            <!-- <div class="col-md-12 mt-5 mb-5"></div> -->
        </div>
    </div>
</div>