<nav class="navbar navbar-expand-md navbar-light bg-white navbar-bottom">
  <div class="container">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pl-0" href="#"
        id="navbarDropdownwdLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Web Development
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownwdLink">
          <a class="dropdown-item" href="{{site.baseurl}}/classroom/apis-with-django/">APIs with Django</a>
          <a class="dropdown-item" href="{{site.baseurl}}/classroom/apis-with-flask/">APIs with Flask</a>
          <a class="dropdown-item" href="{{site.baseurl}}/classroom/apis-with-flask/">APIs with NodeJS</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pl-0" href="#"
        id="navbarDropdowndaLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Data Aggregation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdowndaLink">
          <a class="dropdown-item" href="#">Scrapy</a>
          <a class="dropdown-item" href="#">BeautifulSoup</a>
        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link " href="#">Blockchain</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link " href="#">Databases</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"
        id="navbarDropdownDatabasesLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Databases
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownDatabasesLink">
          <a class="dropdown-item" href="#">MongoDB</a>
          <a class="dropdown-item" href="#">Elasticsearch</a>
          <a class="dropdown-item" href="#">OrientDB</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"
        id="navbarDropdowndcLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Distributed Computing
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdowndcLink">
          <a class="dropdown-item" href="#">Celery</a>
          <a class="dropdown-item" href="#">RabbitMQ</a>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link " href="#">Distributed Computing</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link " href="#">Microservices</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"
        id="navbarDropdownmsLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Microservices
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownmsLink">
          <a class="dropdown-item" href="#">with MongoEngine </a>
          <a class="dropdown-item" href="#">with OrientDB </a>

        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link " href="#">Data Analytics</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"
        id="navbarDropdownanalyticsLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Data Analytics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownanalyticsLink">
          <a class="dropdown-item" href="#">R </a>
          <a class="dropdown-item" href="#">pandas </a>
          <a class="dropdown-item" href="#">Apache Spark </a>
          <a class="dropdown-item" href="#">D3 Graphs </a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkOthers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Others
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkOthers">
          <a class="dropdown-item" href="#">Jenkins</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
    </div>
</nav>
