<footer class="container pb-5 pt-5 border-top">
    <div class="row">
        <div class="col-12">
            <!-- <hr class="mb-5"> -->
            <h4 class="fw-bold">invana</h4>
            <!-- Democratising Knowledge Graphs for everyone. -->
            {{site.vision_statement}}
        </div>
        <div class="col-md-12">
            <ul class="list-inline ms-auto mt-4">         
                <li class="list-inline-item pl-0 pt-0 pb-1">
                    © 2023 Invana
                </li>
                <li class="list-inline-item pl-0 pt-0 pb-1">
                    <a href="/about">about</a>
                </li>
                <li class="list-inline-item pl-0 pt-0 pb-1">
                    <a href="/contact">contact</a>
                </li>
                <li class="list-inline-item pl-0 pt-0 pb-1">
                    <a href="/get-started">get started</a>
                </li>
                <li class="list-inline-item pl-0 pt-0 pb-1">
                    <a href="/opensource">opensource</a>
                </li>
               
                <li class="list-inline-item pl-0 pt-0 pb-1">
                    <a href="https://discord.gg/ebv9kgxW" target="_blank">Discord</a>
                </li>
               
                <li class="list-inline-item pl-0 pt-0 pb-1">
                    <a href="https://github.com/orgs/invana/discussions"  target="_blank">Github Discussions</a>
                </li>
            </ul>
        </div>
    </div>
</footer>



