<footer class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>

        </div>


        <div class="col-md-9">
            <!-- justify-content-end -->
            <p>2020 © Invana Technology Solutions Pvt. Ltd.</p>


        </div>
        <div class="col-md-3">
            <nav class="nav float-right">
                <a class="nav-link" href="/blog/">Blog</a>


                <a class="nav-link" target="_blank" href="https://github.com/invanalabs">
                    <i class="fab fa-github"></i>
                </a>
                <a class="nav-link nav-item" target="_blank" href="https://medium.com/invanalabs">
                    <i class="fab fa-medium-m"></i>
                </a>

                <a class="nav-link" target="_blank" href="https://www.linkedin.com/company/invanalabs">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <!--<a class="nav-link" href="/#contact">Blog</a>-->
                <!--<a class="nav-link" href="/#contact">Careers</a>-->

                <!-- <a class="nav-link" href="https://angel.co/invanatech/jobs" target="_blank">We are Hiring</a> -->
            </nav>
        </div>

    </div>
</footer>
