<nav class="navbar  navbar-expand-md navbar-light bg-white navbar-top">
    <div class="container">

        <a class="navbar-brand" href="{{site.baseurl}}/">
            <strong><span>Invana</span><span style="color: rgb(84, 84, 84);">Labs</span></strong>
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link mr-1" href="/process.html"> Process</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-1" href="/invana-bot.html"> Invana Bot</a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link mr-1" target="_blank" href="https://invanalabs.ai">AI LABs</a>-->
            <!--</li>-->
            <!-- <li class="nav-item">
                <a class="nav-link mr-1" href="https://medium.com/invanatech" target="_blank"> <span
                        class="fab fa-medium-m"></span> Blog</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link mr-1 nav-explore" href="/contact-us.html">
                    Contact us
                </a>
            </li>

            <li class="nav-item">
                <span class="nav-link">
|                </span>
            </li>

            <li class="nav-item">
                <a class="nav-link mr-1 nav-explore" target="_blank" href="https://www.linkedin.com/company/invanalabs">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class=" nav-link dropdown-toggle" data-toggle="dropdown"-->
            <!--aria-haspopup="true" aria-expanded="false">-->
            <!--APIs-->
            <!--</a>-->
            <!--<div class="dropdown-menu dropdown-menu-right">-->
            <!--<div class="  row">-->
            <!--<div class="col-md-3">-->
            <!--<h6>Sentiment Analysis</h6>-->
            <!--<p>Understand the sentiment of your users</p>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
            <!--<h6>Sentiment Analysis</h6>-->
            <!--<p>Understand the sentiment of your users</p>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
            <!--<h6>Sentiment Analysis</h6>-->
            <!--<p>Understand the sentiment of your users</p>-->
            <!--</div>-->


            <!--</div>-->

            <!--</div>-->
            <!--</li>-->


        </ul>
    </div>
</nav>
