<style media="screen">
    .navbar-top {
        border-bottom: 1px solid #ececec;
    }

    .navbar-bottom {
        padding: 0;
    }

    .navbar-bottom .nav-link, .navbar-bottom .dropdown-item {
        font-size: 14px;
    }
</style>

<nav class="navbar  navbar-expand-md navbar-light bg-white navbar-top">
    <div class="container">

        <a class="navbar-brand" href="{{site.baseurl}}/">
            <strong>{{site.title}}</strong>
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link mr-1" href="#technology"> <i class="fas fa-chalkboard"></i> Technology</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-1" href="#team"> <i class="fas fa-user-astronaut"></i> Team</a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link mr-1" href="{{site.baseurl}}/explore/">
                    <i class="fas fa-terminal" aria-hidden="true"></i> API
                </a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link mr-1" href="#contact"> Contact</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link mr-1" href="https://angel.co/invanatech/jobs" target="_blank"> Hiring</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link mr-1" href="https://medium.com/invanatech" target="_blank"> <span
                        class="fab fa-medium-m"></span> Blog</a>
            </li>

            <li class="nav-item">
                <a class=" nav-link dropdown-toggle" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    APIs
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="  row">
                        <div class="col-md-3">
                            <h6>Sentiment Analysis</h6>
                            <p>Understand the sentiment of your users</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Sentiment Analysis</h6>
                            <p>Understand the sentiment of your users</p>
                        </div>
                        <div class="col-md-3">
                            <h6>Sentiment Analysis</h6>
                            <p>Understand the sentiment of your users</p>
                        </div>


                    </div>

                </div>
            </li>


            <!-- <li>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </li> -->
        </ul>
    </div>
</nav>
