<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{site.title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,900&display=swap" rel="stylesheet">


    <link href="{{ 'assets/css/main.css' | relative_url }}" rel="stylesheet">
    <link href="{{ 'assets/css/syntax.css' | relative_url }}" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ " feed.xml" | relative_url }}">
    <meta name="google-site-verification" content="svzjE4Ll9L_SzXgYKt2YtOz6X6lYtCO0UrPDR0ZiRcM"/>
    <meta name="description" content="{{site.description}}"/>
</head>