<!-- <section class="beta-notification alert alert-success">
 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                We are currently <span>brewing the tech</span>.
                Follow us on <a style="color: inherit; text-decoration: underline" href="https://twitter.com/invanalabs"
                    target="_blank">twitter</a>
                to get notified about latest updates.
            </div>
        </div>
    </div>
</section> -->
<nav class="navbar  navbar-expand-md navbar-light header pt-3">

    <div class="container">
        <a class="navbar-brand fw-bold" href="{{site.baseurl}}/">
            invana
            <!-- <small class="badge bg-success">beta</small> -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ">
 
                <li class="nav-item">
                    <a class="nav-link  fw-bold nav-item ms-3" href="/about">
                        Company
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  fw-bold nav-item ms-3" href="https://blog.invana.io">
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <span class="nav-link fw-bold nav-item me-2 ms-3">|</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-item ms-3" target="_blank" rel="noopener"
                        href="https://twitter.com/invanalabs">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-item ms-3" target="_blank" rel="noopener"
                        href="https://www.linkedin.com/company/invanalabs">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </li>
                
            </ul>
            <ul class="navbar-nav  ms-auto ">
       
  
               <li class="nav-item">
                    <a class="nav-link btn text-white  bg-success fw-bold ms-3" href="/contact">
                        Contact
                    </a>
                </li> 
                <!-- <li class="nav-item">
                    <a class="nav-link btn text-white  bg-success fw-bold ms-3" href="/get-started">
                        Request demo
                    </a>
                </li> -->
                <li class="nav-item dropdown">
                    <button class="btn btn-link ms-3 nav-link dropdown-toggle" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                        <i class="bi bi-moon-stars-fill" id="theme-icon-active"></i>
                      <span class="d-lg-none ms-3" id="bd-theme-text">Toggle theme</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                      <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                          <!-- <svg class="bi me-2theme-icon"><use href="#sun-fill"></use></svg> -->
                          <i class="bi bi-sun-fill   theme-icon me-2"></i> Light <i class="bi bi-check2  ms-auto d-none"></i>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
                          <i class="bi bi-moon-stars-fill theme-icon me-2"></i>  Dark <i class="bi bi-check2  ms-auto d-none"></i>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                            <i class="bi bi-circle-half  theme-icon me-2"></i> Auto  <i class="bi bi-check2  ms-auto d-none"></i>
                        </button>
                      </li>
                    </ul> 
                  </li>
            </ul>
        </div>
    </div>
</nav>