<h3 class="h5 fw-bold"><i class="fab fa-github"></i> Join our Community <i
        class="bi bi-rocket text-success text-reset"></i></h4>
<p>Ask questions, find case studies, tutorials and know more about happenings in the world of
    graph data and computing. </p>
<ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item  border-0 ps-0  bg-transparent text-dark ">
        <a href="https://discord.gg/ebv9kgxW" class="text-reset fw-bold text-decoration-none" target="_blank">
            <i class="bi bi-discord" style="color: #5865F2"></i> Discord
        </a>
    </li>
    <li class="list-group-item ps-0 bg-transparent text-dark">
        <a href="https://github.com/orgs/invana/discussions" class="text-reset  text-decoration-none fw-bold"
            target="_blank">
            <i class="bi bi-github" style="color: #171515"></i> Github Discussions
        </a>
    </li>
</ul>