<li class="list-group-item bg-transparent border-bottom-0 p-0 pb-2">
    <i class="far fa-check-circle"></i> Training sessions on knowledge graphs and invana products.
</li>

<li class="list-group-item bg-transparent border-bottom-0 p-0 pb-2">
    <i class="far fa-check-circle"></i> Fully managed deployments of invana infrastructure on
    Cloud or on-premise
</li>
<li class="list-group-item bg-transparent border-bottom-0 p-0 pb-2">
    <i class="far fa-check-circle"></i> Data Modelling Services.
</li>
<li class="list-group-item bg-transparent border-bottom-0 p-0 pb-2">
    <i class="far fa-check-circle"></i> Consulting services to accelerate your project.
</li>
<li class="list-group-item bg-transparent border-bottom-0 p-0 pb-2">
    <i class="far fa-check-circle"></i> Customised features and Integrations support.
</li>
<li class="list-group-item bg-transparent border-bottom-0 p-0 pb-2">
    <i class="far fa-check-circle"></i> Service Level Agreement(SLA)
</li>
