
<div class="row">
    <div class="col-md-12 mb-3">

        <div class="card mb-3">
            <div class="card-body p-3">
                <h4 class="pb-2" style="border-bottom:1px solid #d9d9d9">Get Started</h4>
                {% for item in site.guide %}
                {% if item.path contains 'get-started' %}
                <div class="mb-3">
                    <a href="/guide/{{ item.slug }}" class="doc-list">
                        <h6 class=" mt-3">{{ item.title }}</h6>
                        <p style="color: #343434" class="mb-0">{{item.description}}</p>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card mb-3">
            <div class="card-body p-3">
                <h4 class="pb-2" style="border-bottom:1px solid #d9d9d9">Tutorials</h4>
                {% for item in site.guide %}
                {% if item.path contains 'tutorial' %}
                <div class="mb-3">
                    <a href="/guide/{{ item.slug }}" class="doc-list">
                        <h6 class=" mt-3">{{ item.title }}</h6>
                        <p style="color: #343434" class="mb-0">{{item.description}}</p>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
