/* You can add global styles to this file, and also import other style files */

html, body, h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6em;
}

html, body {
    font-size: 14px;
    background: white;
    color: #333;
}

.bold {
    font-weight: bold;
}

.primary-color {
    color: #0ba568 !important;
}

.banner.homepage-banner {
    background-image: linear-gradient(to top, #613E67, #362C6E);
    min-height: 550px;
    height: 90vh;
    color: white !important;
}

.homepage-banner h1 {
    font-size: 2rem;
    line-height: 2.6rem !important;
    padding-top: 20rem;
}

.fw-400 {
    font-weight: 400 !important;
}

.thumb-dropdown .dropdown-menu > li {
    position: relative;
}

.dropdown-header {
    padding-left: .5rem !important;
}

.why-invana-dropdown {
    width: 350px;
}
.dropdown-menu-wide {
    width: 350px !important;
}
.dropdown-menu{
    width: 220px;
}
.dropdown-menu-wide .nav-link, .dropdown-menu .nav-link{
    padding-left: 0  !important;
    padding-right: 0  !important;
}

.navbar-nav .dropdown-menu {
    padding: 1rem;
}

.dropdown-menu h4 {
    margin-bottom: 0;
    font-size: 1.2rem;
    color: #333;
    padding: 0;
}

.dropdown-menu p {
    color: #777;
    padding: 0;
}

.products-dropdown li a.nav-link:hover p,
.products-dropdown li a.nav-link:hover h4,
.dropdown-menu .nav-link:hover {
    color: #0ba568 !important;

}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: inherit !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .7);
}
