<!--The content below is only a placeholder and can be replaced.-->
<style>
  .header-menu a {
    text-transform: uppercase;
  }

</style>

<nav class="navbar  navbar-top bg-light">
  <div class="container d-flex flex-column flex-md-row align-items-center  px-md-4 mb-0">


    <h5 class="my-0 mr-md-auto "><a class="navbar-brand" href="/">
      <strong>invanalabs.ai</strong>
    </a></h5>
    <nav class="my-2 header-menu my-md-0 mr-md-3">
      <!--<a class="white pl-4" (click)="scroll('about-section')">Use Cases</a>-->
      <a class="white pl-4" (click)="scroll('technology')">Technology</a>
      <!--<a class="white pl-4" (click)="scroll('contact-section')">Product</a>-->
      <!--<a class="white pl-4" (click)="scroll('knowledge-base')">Knowledge base</a>-->
      <!--<a class="white pl-4" (click)="scroll('skills')">Skills</a>-->
      <a class="white pl-4" (click)="scroll('contact')">Contact</a>
      <a class="white pl-4" (click)="scroll('team')">Team</a>
      <a class="white pl-4" target="_blank"
         href="https://angel.co/invanatech/jobs"><span
        class="fab fa-angellist"></span> Hiring</a>
      <!--<a class="white pl-4 mr-1" href="/opensource/"> <i class="fab fa-github"></i>-->
      <!--Opensource</a>-->
      <a class="white pl-4" target="_blank" href="https://medium.com/invanatech">
        <i class="fab fa-medium-m"></i> Blogs</a>
    </nav>

  </div>
</nav>


<router-outlet></router-outlet>


<main role="main" class="banner homepage-banner" id="homepage-banner">

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="jumbotron-heading mb-0">
          Build and Deploy a technology Skill for your Application
          with our Deep Learning and Knowledge Graph Solutions</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <p>Whether your product is an online teaching, AR/VR, Genomics and Drug Discovery,
          or even in any Scientific Research, you deal with lot of data, and Invana translates
          the data into knowledge that can supercharge both product and business decisions.
        </p>

      </div>
    </div>

  </div>

</main>

<section id="technology" class="mb-5">
  <div class="container bg-white about">
    <div class="row">
      <div class=" col-md-9">
        <h2 class="section-heading mt-5">Technology </h2>
        <p class="section-sub-heading ">We provide a set of Technology APIs
          that gives Machines - the real senses like
          Vision, Hearing and Speech.</p>

      </div>

    </div>
    <div class="row mt-5">
      <div class=" col-md-6 technology-col">
        <h3 class="h3 ">Image Recognition with Deep Neural Networks</h3>
        <p>Give your applications a sense of vision, right from
          recognising the food on the table to anomalies in cancer cell imaging.
          Use our pre-trained models on specific domains, or re-train our models
          with your data.
        </p>
      </div>
      <div class="  col-md-6 mb-5">
        <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Tensorflow_logo.svg/200px-Tensorflow_logo.svg.png" alt="">-->
      </div>
    </div>
    <div class="row mt-5">

      <div class="  col-md-6 mb-5">
      </div>
      <div class=" col-md-6 technology-col">
        <h3 class="h3 ">Text Processing and generating Knowledge Graph</h3>
        <p>We understand, every product generates a lot of text data in the form
          of Reviews, descriptions, chats and more.
          Invana let's you extract the context, topics and the summary and establish relations,
          emotions and sentiments between your users, offerings and data.
        </p>
      </div>
    </div>

  </div>
</section>
<section class="team mt-5" id="team">
  <div class="container ">
    <div class="row">
      <div class="col">
        <h2 class="section-heading mt-5">// Our Team </h2>

      </div>
      <div class="col-md-12 talk-to-us">
        <p style="font-size: 2.2rem">We are an amazing team of Engineers, Technologists, Designers, Bots and
          Machines that drives the product towards the path of Innovations through constant
          feedback-and-Improve Iterations.</p>

        <p>Let's catch up on Linked <a target="_blank" href="https://www.linkedin.com/search/results/people/?facetCurrentCompany=%5B%2213222660%22%5D">
          click here
        </a></p>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>

</section>

<section class="contact" id="contact">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 talk-to-us mt-5">
        <h4> We Love Building Technology Solutions, Let's Talk!</h4>
        <p style="font-size: 1.2rem">You can let us handle the Product Technology,
          and you can focus on what actually matters for your Business.</p>
        <!--<button class="btn btn-primary" (click)="showContact()" id="contact-btn">Get in touch</button>-->
        <!--<p id="contact-details"></p>-->

        <p class="mt-5 mb-0"><strong>Address:</strong> Office 3.4, 91 Springboard, Hitech City, Hyderabad - 500081. </p>
        <p><strong>Contact:</strong> hi@invanatech.com / +91 9052053549 </p>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  <footer class="container">
    <div class="row">
      <div class="col">
        <hr>
        <p>2018 &copy; Invana Technology Solutions Pvt. Ltd.</p>

      </div>
    </div>
  </footer>
</section>

