html,
body {
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .homepage-section, .homepage {
    min-height: 100%;
  }
}

.homepage-section{
  background-size: cover;

}
.navbar-transparent .navbar-brand {
    color : white;
    font-weight: bold;
 }

 .navbar-transparent .navbar-nav>li>a {
     color:white;
 }

 .navbar-transparent .navbar-nav>.active>a,
 .navbar-transparent .navbar-nav>.active>a:focus,
 .navbar-transparent .navbar-nav>.active>a:hover,
 .navbar-transparent .nav>li>a:focus,
 .navbar-transparent .nav>li>a:hover {
    background: transparent;
    color: white;
 }

.scroll-down{
  height:35px;
  width: 35px;
}
 .container{
    max-width:970px;
 }

 .homepage h1{
   font-weight: bold;
       font-size: 5.0rem;
       line-height: 4rem;
       margin-top: 22rem;
       color: white;
       text-transform: uppercase;

 }
 .homepage p{
       color: white;
       font-size: 2.4rem;
       font-weight: 300;
       margin-bottom: 5rem;
       margin-top: 2.6rem;
       text-transform: uppercase;
       margin-bottom: 27rem;


 }
 .homepage-section{
    background: #179c8f;
    background-image: url(/assets/images/bg-dark.svg);
    background-repeat: no-repeat;
    background-position: bottom;

}
body, p, li, h1, h2, h3, h4{
  font-family: 'Exo 2', sans-serif;
}
ul li, p {
    color: #999;
    line-height:2.3rem;
 }

.fw-300{
    font-weight:300;
}

.services h2{
    margin-top:3rem;
}
.services h3{
    color: #333;
}

h2 {
    color: #179c8f;
}
.contact {
 padding-bottom: 5rem;
 padding-top: 3rem;
  
}

.box{
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 200px;
  border: 1px solid #e6e6e6;
}
#services{

  padding-top:30px;
  padding-bottom: 100px;
}
.bg-grey{
  background: #f1f1f4;
}
.ourservices{
  padding: 30px;
  padding-bottom: 0;
}

.service-icons{
  padding: 50px 0px;
  margin: 0 auto;

}
ul.nav.navbar-nav.navbar-right li {
    display: inline-block;
}



.navbar.affix {
    background-color: #179c8f;
    border-color: rgba(34,34,34,.1);
}

.primary-bg {
    background: #179c8f;
    color: white;
}
.primary-bg p, .primary-bg h2{
  color: white;
}
#about-us{
  padding-top:60px;
  padding-bottom: 60px;
}
#about-us h2{
  margin-bottom: 1rem;

}
#about-us p{
  font-size: 16px;
}
.primary-bg-dark{
  background: #0a5c53;
}
footer{
  padding: 15px;
}
footer ul li{
  color: white;
}
