.navbar-transparent .navbar-brand {
    color : white;
    font-weight: bold;
 }

 .navbar-transparent .navbar-nav>li>a {
     color:white;
 }

 .navbar-transparent .navbar-nav>.active>a,
 .navbar-transparent .navbar-nav>.active>a:focus,
 .navbar-transparent .navbar-nav>.active>a:hover,
 .navbar-transparent .nav>li>a:focus,
 .navbar-transparent .nav>li>a:hover {
    background: transparent;
    color: white;
 }

 .container{
    max-width:970px;
 }

 .homepage h1{
   font-weight: 300;
       font-size: 5.0rem;
       line-height: 4rem;
       margin-top: 20rem;
       color: white;
       text-transform: uppercase;

 }
 .homepage p{
   color: white;
       font-size: 2.4rem;
       font-weight: 300;
       margin-bottom: 5rem;
       margin-top: 2.6rem;
       text-transform: uppercase;
       margin-bottom: 20rem;


 }
 .homepage-section{
    background: #179c8f;
    background-image: url(/assets/images/bg-dark.svg);
    background-repeat: no-repeat;
    background-position: bottom;

}
body, p, li, h1, h2, h3, h4{
  font-family: 'Exo 2', sans-serif;
}
ul li, p {
    color: #999;
    line-height:2.3rem;
 }

.fw-300{
    font-weight:300;
}

.services h2{
    margin-top:3rem;
}
.services h3{
    color: #333;
}

h2 {
    color: #179c8f;
}
.contact {

margin-top:5rem;
}

.box{
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 200px;
  border: 1px solid #e6e6e6;
}
#services{
  background: #f1f1f4;
  padding-top:30px;
  padding-bottom: 100px;
}
.bg-grey{
  background: #f1f1f4;
}
.ourservices{
  padding: 30px;
}
