@import "native.css";

.homepage-icon {
    /*background: rgba(25, 41, 74, 0.45);*/
    /*width: 252px;*/
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}

.homepage-techstack {
    margin-top: 7rem;
}

html, body {
    height: 100%;
    font-size: 14px;
    line-height: 1.8rem;
    color: #343434;
}

p {
    /*margin-bottom: 1rem;*/
}

img {
    /*max-width: -webkit-fill-available;*/
}
/* ##3aa94d*/
a {
    /*color: #212529;*/
        color: #28a028;
}

h1 {
    /*font-weight: 700;*/
}


.primary-color {
    color: #28a028;
}

a:hover {
    color: #28a028;
}

ul.list, ol.list {
    /*margin-left: 0;*/
    padding-left: 0;
}

ul.list li, ol.list li {
    display: block;
}

main {
    height: 100%;
}

.homepage-banner {
    background: linear-gradient(
            #e9ecef,
            #e9ecef
    ), url("/public/img/homebanner.png");
    background-size: cover;
    height: calc(100% - 60px);
}
.hero-image-container{
    /*padding:1rem 2rem;*/
    margin-top: 2rem;
}
.homepage-banner h1 {
    margin-top: 10%;
    font-weight: bold;
    font-size: 2.6rem;
}

.navbar-light {
    border-bottom: 1px solid #dcdcdc;
    /*padding-bottom: 0;*/
}

.navbar-light .navbar-nav .nav-link {
    /*margin-left: 10px;*/
}


.navbar-brand, .navbar-light .navbar-nav .nav-link {
    /*color: #28a028 !important;*/
    font-weight: bold;
    color: #212529;
}

.navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover {
    color: #28a028;
}

h3 {
    font-size: 1.5rem;
}

.beta-notification {
    background: #444;
    padding: 5px;
    color: #a1a1a1;
    text-align: center;
    border-top: 2px solid #bbbbbb;
}

.beta-notification span {
    border: 1px solid orange;
    padding: 1px 6px;
    border-radius: 2px;
}

blockquote {
    padding: 10px;
    background-color: #efefef;
    border-left: 3px solid #454545;
}

blockquote p {
    margin-bottom: 0;
}

.highlight pre {
    padding: 15px;
    color: #efefef;
    border-radius: 3px;
}

.committer-img {
    width: 30px;
    border-radius: 5px;
}

.doc-nav {
    border-right: 1px solid #efefef;
    min-height: 200px;
}

.doc-nav h5 {
    background-color: #efefef;
    padding: 5px 0;
}

.doc-nav ul {
    padding-left: 0;
}

.doc-nav ul li {
    display: block;

}

.doc-list:hover {
    text-decoration: none;
}

.doc-title {
    margin-top: 0 !important;
}

.doc-content h1, .doc-content h2, .doc-content h3, .doc-content h4, .doc-content h5 {
    margin-top: 20px;
}

.doc-content h1 {
    font-size: 2.4rem;
}

.doc-content h2 {
    font-size: 1.4rem;
    font-weight: bold;

}

.doc-content h3 {
    font-size: 1.4rem;
}

.doc-content h4 {
    font-size: 1.2rem;
}

.doc-content h5 {
    font-size: 1rem;
}

.doc-content a {
    text-decoration: underline;
    color: inherit;
}


.home-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 4rem;

}
.home-section h3 {
    font-size: 22px;
    font-weight: bold;
    /*margin-top: 4rem;*/

}
.home-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home-section h4 {
    font-size: 1rem;
}
.home-section h2{
    color: #343434;
}
.home-section .card {
    min-height: 340px;
}
.home-section ul{
    padding-left: 15px;
}
.btn-outline-success:hover{
    background: #319442;
}
.btn-outline-success {
    border-color:#319442;
}