.homepage-icon {
    /*background: rgba(25, 41, 74, 0.45);*/
    /*width: 252px;*/
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}

.homepage-techstack {
    margin-top: 7rem;
}

html, body {
    height: 100%;
    font-size: 14px;
    line-height: 1.8rem;
    color: #343434;
}

a {
    color: #212529;
}

a:hover {
    color: #28a028;
}

ul.list, ol.list {
    margin-left: 0;
    /*padding-left: 20px;*/
}

.homepage-banner h1 {
    margin-top: 8rem;
    font-weight: 700;
    font-size: 3rem;
}

.navbar-light .navbar-nav .nav-link {
    margin-left: 10px;
}

.navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #28a028 !important;
}

h3 {
    font-size: 1.5rem;
}

.beta-notification {
    background: #444;
    padding: 5px;
    color: #a1a1a1;
    text-align: center;
}

.beta-notification span {
    border: 1px solid orange;
    padding: 1px 6px;
    border-radius: 2px;
}


.committer-img {
    width: 30px;
    border-radius: 5px;
}
