@import "native.css";

html,
body {
    height: 100%;
    font-size: 16px;
    line-height: 1.6rem;
    font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}


 
a {color: #28a028;}

.support-menu{
    width: 700px;
}


.primary-color {    color: #28a028;}



  main {
    height: 100%;
} 


 

.homepage-banner .main-text {
    margin-top: 15%;
    /* padding-bottom: 5%; */
}

.homepage-banner .main-banner {
    margin-top: 5%;
    padding-bottom: 5%;
}

/* .homepage-banner .main-banner a.nav-link.active .text-dark,
.homepage-banner .main-banner a.nav-link.active .text-secondary {
    color: white !important;
} */

.homepage-banner .main-banner .tab-pane {
    min-height: 400px;
}




/*   
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    font-size: 18px !important;
    font-weight: bold;
} */

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
}

/* .blog-menu .nav-link.btn-success {
    color: white !important;
} */

.navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover,
.nav-link.btn:hover {
    color: white !important;
}



h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.beta-notification {
    background: #444;
    padding: 5px;
    color: #a1a1a1;
    text-align: center;
    border-top: 2px solid #bbbbbb;
}

.beta-notification span {
    border: 1px solid orange;
    padding: 1px 6px;
    border-radius: 2px;
}

blockquote {
    padding: 10px;
    background-color: #efefef;
    border-left: 3px solid #454545;
}

blockquote p {
    margin-bottom: 0;
}

.highlight pre {
    padding: 15px;
    color: #efefef;
    border-radius: 3px;
}

/* .committer-img {
    width: 30px;
    border-radius: 5px;
} */



.code {
    /*background: #343434;*/
    background-color: #efefef;
    color: #212121;
    padding: 5px 10px;
    border-radius: 2px;
    display: block;
    margin-bottom: 10px;
}

.alert {
    padding: .5rem !important;
}