@import "native.css";

.homepage-icon {
    /*background: rgba(25, 41, 74, 0.45);*/
    /*width: 252px;*/
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}

.homepage-techstack {
    margin-top: 7rem;
}

html, body {
    height: 100%;
    font-size: 14px;
    line-height: 1.8rem;
    color: #343434;
}

p {
    /*margin-bottom: 1rem;*/
}

img {
    /*max-width: -webkit-fill-available;*/
}

a {
    color: #212529;
}

h1 {
    font-weight: 700;
}


.primary-color {
    color: #28a028;
}

a:hover {
    color: #28a028;
}

ul.list, ol.list {
    /*margin-left: 0;*/
    padding-left: 0;
}

ul.list li, ol.list li {
    display: block;
}


.homepage-banner h1 {
    margin-top: 8rem;
    font-weight: 700;
    font-size: 3rem;
}

.navbar-light .navbar-nav .nav-link {
    /*margin-left: 10px;*/
}


.navbar-brand, .navbar-light .navbar-nav .nav-link {
    /*color: #28a028 !important;*/
    font-weight: bold;
    color: #212529;
}

.navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover {
    color: #28a028;
}

h3 {
    font-size: 1.5rem;
}

.beta-notification {
    background: #444;
    padding: 5px;
    color: #a1a1a1;
    text-align: center;
    border-top: 2px solid #bbbbbb;
}

.beta-notification span {
    border: 1px solid orange;
    padding: 1px 6px;
    border-radius: 2px;
}

blockquote {
    padding: 10px;
    background-color: #efefef;
    border-left: 3px solid #454545;
}

blockquote p {
    margin-bottom: 0;
}

.highlight pre {
    padding: 15px;
    color: #efefef;
    border-radius: 3px;
}

.committer-img {
    width: 30px;
    border-radius: 5px;
}

.doc-nav {
    border-right: 1px solid #efefef;
    min-height: 200px;
}

.doc-nav h5 {
    background-color: #efefef;
    padding: 5px 0;
}

.doc-nav ul {
    padding-left: 0;
}

.doc-nav ul li {
    display: block;

}

.doc-list:hover {
    text-decoration: none;
}

.doc-title {
    margin-top: 0 !important;
}

.doc-content h1, .doc-content h2, .doc-content h3, .doc-content h4, .doc-content h5 {
    margin-top: 20px;
}

.doc-content h1 {
    font-size: 2.4rem;
}

.doc-content h2 {
    font-size: 1.4rem;
    font-weight: bold;

}

.doc-content h3 {
    font-size: 1.4rem;
}

.doc-content h4 {
    font-size: 1.2rem;
}

.doc-content h5 {
    font-size: 1rem;
}

.doc-content a {
    text-decoration: underline;
    color: inherit;
}
