---
layout: default
---
<style>
    h1 {
        font-weight: 700;
    }

    .hero-image {
        margin-bottom: 40px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12   mt-5">
            <p class="post-date text-muted mb-1">{{ page.date | date: "%B %d, %Y" }}</p>
            <h1>{{ page.title }}</h1>
            <p class="text-muted">By
            {% for author in page.authors %}
                <span class="text-dark">{{author}}, </span>
                {% endfor %}
            </p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" style="min-height: 400px">
            <img src="{{page.hero_image}}" class="img-fluid hero-image" alt="">
            {{ content }}
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>


