---
layout: default
---
<style>


    .hero-image {
        margin-bottom: 40px;
    }
</style>
<div class="container  page-header-section">
    <div class="row">
        <div class="col-md-12 ">
            <h1>{{ page.title }}</h1>
            <p class="post-date text-muted mb-1">
                {{ page.date | date: "%B %d, %Y" }}, By {% for author in page.authors %}
                <span class="text-dark mr-3">{{author}} </span>
                {% endfor %}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" style="min-height: 400px">
            <img src="{{page.hero_image}}" class="img-fluid hero-image" alt="">
            {{ content }}
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>


