---
layout: default
---

<div class="container mt-3 ">
    <div class="row">

        <div class="col-md-3">

            {% include guide/doc-toc.html %}

            <!--            {% if page.url contains '/invana-studio/' %}-->
            <!--            {% include guide/invana-studio-nav.html %}-->
            <!--            {% endif %}-->
            <!--            {% if page.url contains '/invana-engine/' %}-->
            <!--            {% include guide/invana-engine-nav.html %}-->
            <!--            {% endif %}-->
        </div>
        <div class="col-md-9 highlight min-page-height">

            <div class="row">
                <div class="col-md-12">
                    {% include guide/doc-breadcrumb.html %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header-section">
                        <h1 class="doc-title">{{ page.title }}</h1>
                        <p>{{page.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12  doc-content ">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>

