---
layout: default
---

<div class="container mt-3 ">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-0 bg-transparent">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/guides">Guides</a></li>
                    <li class="breadcrumb-item"><a
                            href="/docs/{% if page.url contains '/invana-studio/' %}invana-studio/{% endif %}{% if page.url contains '/invana-engine/' %}invana-engine/{% endif %}">
                        {% if page.url contains '/invana-studio/' %}
                        Invana Studio
                        {% endif %}
                        {% if page.url contains '/invana-engine/' %}
                        Invana Engine
                        {% endif %}
                        guide</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-8 doc-content highlight">
            <div class="page-header-section">
                <h1 class="doc-title">{{ page.title }}</h1>
            </div>
            {{ content }}
        </div>
        <!--        <div class="col-md-2">-->
        <!--            <h5 class="mt-3">Table to contents</h5>-->
        <!--            &lt;!&ndash;            <p>a for the products </p>&ndash;&gt;-->
        <!--        </div>-->
        <div class="col-md-4">
            {% if page.url contains '/invana-studio/' %}
            {% include guide/invana-studio-nav.html %}
            {% endif %}
            {% if page.url contains '/invana-engine/' %}
            {% include guide/invana-engine-nav.html %}
            {% endif %}
        </div>
    </div>
</div>


<!-- -&#45;&#45;-->
<!--layout: default-->
<!-- -&#45;&#45;-->

<!--<div class="container  page-header-section">-->
<!--    <div class="row">-->
<!--        <div class="col-md-8">-->
<!--            <h1 class="mt-5">{{page.title}}</h1>-->
<!--            <p>{{page.description}}</p>-->
<!--            <hr>-->

<!--&lt;!&ndash;            {{site.categories }}&ndash;&gt;-->
<!--            {% if page.video_id %}-->
<!--            <iframe width="100%" height="455"-->
<!--                    src="https://www.youtube.com/embed/{{page.video_id}}" frameborder="0"-->
<!--                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--                    allowfullscreen></iframe>-->
<!--            {% endif %}-->

<!--            {{ content }}-->
<!--        </div>-->
<!--        <div class="col-md-4 pt-5">-->
<!--            {% include tutorials-videos.html %}-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->



