---
layout: default
---


<main class="banner homepage-banner" id="homepage-banner" role="main">

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 class="jumbotron-heading mb-0">
                    Harvest and Manage your Data into <br> Knowledge Graphs and Machine Learning Models</h1>

                    <!-- <h1 class="jumbotron-heading mb-0">
                        Build and Deploy Technology Skills for your Applications
                        with our Deep Learning and Knowledge Graph Solutions</h1>                     -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Whether your product is an online teaching, AR/VR, Genomics, Health Care,
                    Food tech, Finance tech domain, you deal with a lot of data, and Invana translates
                    that data into knowledge and Machine Learning models that supercharges
                    your product with Futurist Abilities.
                </p>
                <a href="/demo/" class="font-weight-bold" style="    font-size: 1.2rem !important;
    border-bottom: 2px solid #0ba568;">Request a Demo</a>

            </div>
        </div>

    </div>

</main>


<section class="team mt-5" id="team">
    <div class="container ">
        <div class="row">
            <div class="col">
                <h2 class="section-heading mt-5">// Our Team </h2>

            </div>
            <div class="col-md-12 talk-to-us">
                <p style="font-size: 2.2rem">We are an amazing team of Engineers, Technologists,
                    Designers, Bots and
                    Machines that drives the product towards the path of Innovations through constant
                    feedback-and-Improve Iterations.</p>

                <p>Let's catch up on LinkedIn <a
                        href="https://www.linkedin.com/search/results/people/?facetCurrentCompany=%5B%2213222660%22%5D"
                        target="_blank">
                    click here
                </a></p>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>

</section>

<section class="contact" id="contact">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 talk-to-us mt-5">
                <h4> We Love Building Technology Solutions, Let's Talk!</h4>
                <p style="font-size: 1.2rem">If you think we have something in common or you'd love
                  to talk about the technologies and Human Intelligence, let's catch up
                  for a coffee in our office.</p>


                <p class="mt-5 mb-0"><strong>Address:</strong> Office 3.4, 91
                    Springboard, Hitech City, Hyderabad - 500081. </p>
                <p><strong>Contact:</strong> hi@invanatech.com / +91 9052053549 </p>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>

</section>
