
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include nav.html %}
  {% include header.html %}


<style media="screen">


</style>
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="bold">{{page.title}} |

      <small>
        {% if page.position_type == "intern" %}

        <span class="">Internship Position</span>
        {% else if page.position_type == "full_time" %}

        <span class="">Full-time Position</span>
        {% endif %}
      </small>
        </h1>

        <p>{% for tech in page.technologies %} <span class="white pr-2 mr-2">{{tech}}</span> {%endfor %} </p>

      </div>

    </div>

  </div>

</section>
  <div class="container pt-3">


    <p> <a href="http://{{page.website}}" target="_blank">{{page.website}}</a> </p>
  {% if page.position_type == "intern" %}
    <h3>{{page.project_title}}</h3>

  {% endif %}
    <div class="">
        {{page.project_abstract}}
    </div>
    {{ content }}
    {% include footer.html %}
  </div>
	{% include js-includes.html %}
</body>

</html>
