---
layout: default
---


<section class=" banner" id="process" style="">
    <div class="container">
        <div class="row">
            <div class=" col-md-9 ">
                <h4>Our Process</h4>
                <h1 style="font-size: 2.2rem" class="bold">
                    Inspired by <span class="">Design Thinking Process </span>

                </h1>
                <!-- <h2 class="section-heading mt-5">Technology at Invana </h2> -->
                <p class="section-sub-heading ">
                    Design thinking is a human-centered approach to innovation
                    that draws from the designer's toolkit to integrate the needs of people,
                    the possibilities of technology, and the requirements for business success.</p>
            </div>

        </div>
    </div>
</section>
<div class="container pt-5">

    <section class="mb-5">
        <div class=" bg-white about">

            <div class="row mt-5">
                <div class=" col-md-10 technology-col">
                    <h3 class="h3 ">Get Started with a Plan</h3>
                    <p>Every problem is unique, and solving them takes different amount
                        of time depending on its complexity. To solve a problem, we need to
                        look into its roots, do research and validate our ideas. Without a
                        proper plan, we can easily get lost in the time. So we need to understand
                        the product vision, business goals, constraints from technology and market
                        along with a powerful process to make a perfect and detailed plan; which
                        ultimately helps in smooth execution. Our process explained below is very
                        fluid in nature and always focuses on bringing best results for the capital spent.


                    </p>
                </div>
                <div class="  col-md-6 mb-5">

                </div>
            </div>

            <div class="row mt-5">
                <div class=" col-md-6 technology-col">
                    <h3 class="h3 ">1. Research and Explore</h3>
                    <p>Once we understand the products vision, we start with research to understand the user needs and
                        our
                        opportunities in the market. And we define the personas and scenarios accordingly.
                    </p>
                    <ul class="list-unstyled list-process">
                        <li>User Research</li>
                        <li>Personas and Scenarios</li>
                        <li>Competitor Analysis</li>
                    </ul>
                </div>
                <div class="  col-md-4 offset-md-2 mt-4">

                </div>
            </div>
            <div class="row mt-5">


                <div class=" col-md-6 technology-col">
                    <h3 class="h3 ">2. Information Architecture.</h3>
                    <p>From the research we will now be able to define the problem through mind
                        mapping and we can do few low fidelity iterations and ideate with the
                        help of journey maps. We can now have a proper hypothesis defined for our product.
                    </p>
                    <ul class="list-unstyled list-process">
                        <li>Mind Mapping</li>
                        <li>Journey Mapping</li>
                        <li>Low fidelity sketches/wireframes</li>
                        <li>Content draft</li>
                    </ul>
                </div>
                <div class="  col-md-6 mb-5">
                </div>
            </div>

            <div class="row mt-5">
                <div class=" col-md-6 technology-col">
                    <h3 class="h3 ">3. Prototype</h3>
                    <p>Once we have our hypothesis defined, we can start working on a proof of concept
                        and a clickable prototype to test with our users. After the feedback
                        and iterations, we can freeze our product specifications and document them.

                    </p>
                    <ul class="list-unstyled list-process">
                        <li>High fidelity wireframes</li>
                        <li>Clickable prototypes</li>
                        <li>Final Content</li>
                        <li>Style Guide</li>
                    </ul>
                </div>
                <div class="  col-md-6 mb-5">

                </div>
            </div>

            <div class="row mt-5">
                <div class=" col-md-6 technology-col">
                    <h3 class="h3 ">4. Developing the Technology Solution</h3>
                    <p>
                        Once the specifications are freezed, we build a
                        developer plan of action for our Engineers. We use the
                        tools that allow us to track the progress, see the risks,
                        constantly deploy and maintain the quality of the final
                        product.
                    </p>
                    <ul class="list-unstyled list-process">
                        <li>Constant Code Reviews </li>
                        <li>CI/CD for quick code prototyping</li>
                        <li>Developer & Testing Documentation</li>
                        <li>Building data analytics dashboards</li>
                        <li>ML/DL Models if needed.</li>
                    </ul>
                </div>
                <div class="  col-md-6 mb-5">

                </div>
            </div>

        </div>
    </section>

</div>
