/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body, h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  line-height: 1.8em;
}

html, body {
  font-size: 14px;
  background: #efefef;
}

html, body {
  height: 100%;
}

a, .a {
  color: #3b67cc !important;
  cursor: pointer;
}

a:hover {
  color: #6741d9 !important;
}

.classroom-content h2, .classroom-content h3, .classroom-content h4, .classroom-content h5 {
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 400;
}

.navbar-light .navbar-brand {
  font-weight: 400;
}

.banner {
  padding: 4rem 2rem 1rem;
  /* border-bottom: 2px solid #eee; */
  margin-bottom: 2rem;
  background: #3b67cc;
  //background:  url(../images/bg-pattern.png),linear-gradient(to left,#9a5050,#27418a);
  background: linear-gradient(to left, #9a5050, #27418a);
  box-shadow: 0px 6px #e8e8e8;
}

.homepage-banner {
  min-height: 85%;
}

.homepage h3 {
  font-size: 24px;
  color: #666;
}

.jumbotron-heading {
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 28%;
}

.banner h1, .banner p, .banner h2 {
  color: white;
}

.banner h1, .banner h2 {
  font-size: 1.8rem;
  font-weight: bold;

}

.text-muted {
  color: #dedede !important
}

.banner blockquote {
  margin-top: 2rem;
}

.jumbotron-heading {
  //margin-top: 10rem;

}

section.header {
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

footer {
  margin-top: 3rem;
}

.navbar {
  border-bottom: none;
  //background-color: #3b67cc ;
  background: linear-gradient(to left, #9a5050, #27418a);

}

.navbar-top {
  border-bottom-color: #3b67cc !important;
}

a.navbar-brand:hover {
  color: white !important;
}

.navbar .navbar-nav .nav-link, .navbar-brand, .navbar a {
  color: white !important;
  text-decoration: none;
}

.white {
  color: white !important;
}

.bold {
  font-weight: bold;
}

.card {
  border-radius: 0;
}

section {
  padding: 4rem 1rem;
}

.section-heading {

  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.about {
  padding: 2rem;

  blockquote {
    font-size: 2.2rem;
    line-height: 3rem;
    color: #666;
    font-weight: normal;
  }
}

.contact, .team {
  padding: 0rem;

  background-color: #fff;
  .talk-to-us {
    //padding: 5rem;
    padding-bottom: 0;
    h4 {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.team {
  background: #3f51b5;
  h4, p, h2 {
    color: white !important;

  }
  .talk-to-us {
    padding-top: 6rem !important;
    padding-bottom: 16rem !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .contact, .team {
    .talk-to-us {
      padding: 5rem;
    }
  }
  .team {
    .section-heading {
      padding: 5rem;
    }
  }
  .about {
    padding: 5rem;
  }
}

.pulse {
  margin: 100px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 2rem rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(208, 206, 213, 0.4);
    box-shadow: 0 0 0 0 rgba(208, 206, 213, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10rem rgba(208, 206, 213, 0);
    box-shadow: 0 0 0 10rem rgba(208, 206, 213, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(208, 206, 213, 0);
    box-shadow: 0 0 0 0 rgba(208, 206, 213, 0);
  }
}
