/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body, h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  line-height: 1.8em;
}

html, body {
  font-size: 14px;
  //background: #efefef;
  background: white;
}

html, body {
  height: 100%;
}

a, .a {
  color: #0ba568;
  cursor: pointer;
}

a:hover {
  color: #0ba568;
}

.classroom-content h2, .classroom-content h3, .classroom-content h4, .classroom-content h5 {
  font-weight: 400;
}

.banner {
  padding: 4rem 2rem 1rem;
  /* border-bottom: 2px solid #eee; */
  //margin-bottom: 2rem;
  background: white;
  //background:  url(../images/bg-pattern.png),linear-gradient(to left,#9a5050,#27418a);
  //background: linear-gradient(to top,#121d3a,#4973e6);
  //box-shadow: 0px 6px #e8e8e8;
}

.homepage-banner {
  min-height: 65%;
}

.homepage h3 {
  font-size: 24px;
  color: #666;
}

.jumbotron-heading {
  font-size: 1.8rem;
  font-weight: bold;
}

#homepage-banner .container {
  padding-top: 15rem !important;
  padding-bottom: 8rem !important;

}

.banner p {
  font-size: 1.2rem;
  color: #777;
}

.banner h1 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 3rem;
    margin-bottom: 1.2rem !important;
    color: #545454;
}

//.banner h1, .banner h2 {

.text-muted {
  color: #dedede !important
}

footer {
  margin-top: 3rem;
}

//.navbar {
//  border-bottom: none;
//  background-color: #4771e5 !important;
//  //background: linear-gradient(to left, #9a5050, #27418a);
//
//}
//
//.navbar-top {
//  border-bottom-color: #3b67cc !important;
//}
//
//a.navbar-brand:hover {
//  color: white !important;
//}
//
//.navbar .navbar-nav .nav-link, .navbar-brand, .navbar a {
//  color: white !important;
//  text-decoration: none;
//}

//section {
//  padding: 4rem 1rem;
//}

.section-heading {

  font-weight: bold;
  font-size: 2.8rem;
}

.section-sub-heading {
  font-size: 1.4rem;
  color: #999999;
}

.technology-col {
  margin-top: 5rem;
  margin-bottom: 5rem;
  h3 {
    font-weight: bold;
    line-height: 2.8rem;

  }
  p {
    color: #666666;
    font-size: 1.2rem;
  }

}

//.about {
//  padding: 2rem;
//
//  blockquote {
//    font-size: 2.2rem;
//    line-height: 3rem;
//    color: #666;
//    font-weight: normal;
//  }
//}
//
//.contact, .team {
//  padding: 0rem;
//
//  background-color: #fff;
//  .talk-to-us {
//    //padding: 5rem;
//    padding-bottom: 0;
//    h4 {
//      text-transform: uppercase;
//      font-size: 1.2rem;
//      font-weight: bold;
//    }
//  }
//}
//
.team {
  background: #0ba568;
  h4, p, h2 {
    color: white !important;

  }
  .talk-to-us {
    padding-top: 6rem !important;
    padding-bottom: 16rem !important;
  }
  a{
        color: white;
    text-decoration: underline;
  }
}

//
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .contact, .team {
    .talk-to-us {
      padding: 5rem;
    }
  }
  .team {
    .section-heading {
      padding: 5rem;
    }
  }

}

//
