<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar  navbar-top">
  <div class="container d-flex flex-column flex-md-row align-items-center  px-md-4 mb-0">


    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand" href="/">
      <strong>Invanatech</strong>
    </a></h5>
    <nav class="my-2 header-menu my-md-0 mr-md-3">
      <a class="white " href="/careers/">We are Hiring</a>
      <!--<a class="white pl-4 mr-1" href="/opensource/"> <i class="fab fa-github"></i>-->
      <!--Opensource</a>-->
      <a class="white pl-4" target="_blank" href="https://medium.com/invanatech">
        <i class="fab fa-medium-m"></i> Blogs</a>
    </nav>

  </div>
</nav>


<router-outlet></router-outlet>


<main role="main" class="banner homepage-banner">

  <div class="container">
    <div class="row">
      <div class="col">

        <div class="">
          <h1 class="jumbotron-heading mb-0"><span style="color: crimson !important;">//</span> Building
            Disruptive Technology Solutions for Deep Learning Generation.</h1>
          <!--<p class="lead text-muted">-->
          <!--Web and Mobile Applications | BigData and Predictive Analytics | Artificial Intelligence-->

          <!--</p>-->
          <p style="font-size: 1.1rem;">We work with start-ups, medium and large enterprises to transform their
            ideas and concepts into Cutting-edge Technology Solutions.</p>
          <!--<div class="mb-1 clearfix"></div>-->

        </div>

      </div>
      <div class="clearfix">

      </div>

    </div>


  </div>

</main>

<section>
  <div class="container bg-white about">
    <div class="row">
      <div class="col col-12">
        <h2 class="section-heading">What we do</h2>

      </div>
      <div class="col col-md-8">

        <blockquote>
          We build and ship technology solutions that are scalable and battle-tested for millions of users; offering the
          best User
          Experience for the Big Data and AI Generation humans.
        </blockquote>

      </div>
    </div>
    <div class="row mt-5">
      <div class=" col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="h5 bold">The Big Data Solutions</h4>
          </div>
        </div>
      </div>
      <div class="  col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="h5 bold">Machine Learning</h4>
          </div>
        </div>
      </div>
      <div class="  col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="h5 bold">Virtual Reality (AR/VR)</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>We have the domain expertise to turn your Idea into </p>
      </div>
    </div>
  </div>
</section>
