<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar  navbar-top">
  <div class="container d-flex flex-column flex-md-row align-items-center  px-md-4 mb-0">


    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand" href="/">
      <strong>Invanatech</strong>
    </a></h5>
    <nav class="my-2 header-menu my-md-0 mr-md-3">
      <a class="white pl-4" href="/careers/">What we do</a>
      <a class="white pl-4" href="/careers/"><span class="fab fa-linkedin"></span> We are Hiring</a>
      <!--<a class="white pl-4 mr-1" href="/opensource/"> <i class="fab fa-github"></i>-->
      <!--Opensource</a>-->
      <a class="white pl-4" target="_blank" href="https://medium.com/invanatech">
        <i class="fab fa-medium-m"></i> Blogs</a>
    </nav>

  </div>
</nav>


<router-outlet></router-outlet>


<main role="main" class="banner homepage-banner">

  <div class="container">
    <div class="row">
      <div class="col">

        <div class="">
          <h1 class="jumbotron-heading mb-0"><span style="color: crimson !important;">//</span> Building
            tech for Deep Learning Generation Humans.</h1>
          <p style="font-size: 1.1rem;">We work with start-ups, medium and large enterprises to transform their
            ideas and concepts into Cutting-edge Technology Solutions.</p>

        </div>

      </div>
      <div class="clearfix">

      </div>

    </div>


  </div>

</main>

<section>
  <div class="container bg-white about">
    <div class="row">
      <div class="col col-12">
        <h2 class="section-heading">Services we offer // What we do </h2>

      </div>
      <div class="col col-md-10">

        <blockquote class="bold mb-0">
          They say: Only the fittest products will survive in the Startup World.
        </blockquote>

        <p><span style="color: #3b67cc">We Build and Ship Technology Solutions</span> that are scalable and
          battle-tested for millions of
          users; offering the
          best User Experience for the Big Data and AI Generation humans.</p>
      </div>

    </div>
    <div class="row mt-5">
      <div class=" col-md-6 mb-5">
        <div class="card">
          <div class="card-body">
            <h4 class="h5 bold"><span style="color: red;">// Big Data</span> and Analytics</h4>
            <p>We understand your products demands, heavy duty technology solutions for
              storage, analytics, warehousing and scale to serve millions of users. We build
              the best in class solutions with Analytics Dashboards tailored for your needs.</p>
          </div>
        </div>
      </div>
      <div class="  col-md-6 mb-5">
        <div class="card">
          <div class="card-body">
            <h4 class="h5 bold"><span style="color: orange">// Mobile & Web</span> Application Solutions</h4>
            <p>We take care of everything that to convert your Idea into a world class product, with
              constant research and feedback cycles, helping you deliver a better version of your imagination
              in to the market.</p>
          </div>
        </div>
      </div>
      <div class="  col-md-6 mb-5">
        <div class="card">
          <div class="card-body">
            <h4 class="h5 bold"><span style="color: blue">// Machine Learning</span></h4>
            <p>
              We can deploy machine learning models that can `learn, think and evolve` for your product
              needs; delivering the product
              that can serve you customers better, cost-efficient and accurate. And also can drive your business
              decisions.

            </p>
          </div>
        </div>
      </div>


      <div class="  col-md-6 mb-5">
        <div class="card">
          <div class="card-body">
            <h4 class="h5 bold"><span style="color: green;">// Knowledge Graph</span> Solutions</h4>
            <p>We understand, that you need to see beyond what you see in the data, and we give you the
              solutions that converts your user data into a graph of knowledge,
              which helps you understand the gaps between your offerings and the users better.
              .</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        <p>Every product goes through multiple iterations of Research, Product Hypothesis, Feedback loops
          enabling us to deliver your Customers with better Technology Solutions and User Experience.
        </p>

      </div>
    </div>

  </div>
</section>

<section class="contact">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 talk-to-us">
        <h4> We Love Building Technology Solutions, Let's Talk!</h4>
        <p style="font-size: 1.2rem">You can let us handle your Product Technology,
          and you can focus on what actually matters for your Business.</p>
        <button class="btn btn-primary" (click)="showContact()" id="contact-btn">Get in touch</button>
        <p id="contact-details"></p>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  <footer class="container">
    <div class="row">
      <div class="col">
        <hr>
        <p>2018 &copy; Invana Technology Solutions Pvt. Ltd.</p>

      </div>
    </div>
  </footer>
</section>

