<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0 bg-transparent">
        <li class="breadcrumb-item"><a href="/docs">Docs</a></li>
        {% if (page.url contains '/invana-studio/') or  (page.url contains '/invana-engine/') %}
        <li class="breadcrumb-item"><a
                href="/docs/{% if page.url contains '/invana-studio/' %}invana-studio/{% endif %}{% if page.url contains '/invana-engine/' %}invana-engine/{% endif %}">
            {% if page.url contains '/invana-studio/' %}
            Invana Studio
            {% endif %}
            {% if page.url contains '/invana-engine/' %}
            Invana Engine
            {% endif %}
            </a></li>
        {% endif %}
        {% if (page.url contains '/guides/') %}
        <li class="breadcrumb-item"><a
                href="/docs/guides">Guides
            </a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
    </ol>
</nav>
