<!--<div class="doc-nav">-->
<!--    <ul class="list-group list-group-flush">-->
<!--        <li class="list-group-item border-0 p-1"><a href="/docs/get-started">Get Started</a></li>-->
<!--        <li class="list-group-item border-0 p-1"><a href="/docs/install">Install</a></li>-->
<!--        &lt;!&ndash;        <li class="list-group-item border-0 p-1"><a href="/docs/install">Invana Engine</a></li>&ndash;&gt;-->
<!--    </ul>-->
<!--    <h6 class="mt-2 pl-2 mb-0">Invana Engine</h6>-->
<!--    <ul class="list-group list-group-flush">-->
<!--        {% for doc in site.invana-engine %}-->
<!--        <li class="list-group-item border-0 p-1"><a href="{{ doc.url}}">{{ doc.title }}</a></li>-->
<!--        {% endfor %}-->
<!--    </ul>-->

<!--    <h6 class="mt-2 pl-2 mb-0">Invana Studio</h6>-->
<!--    <ul class="list-group list-group-flush">-->
<!--        {% for doc in site.invana-studio %}-->
<!--        <li class="list-group-item border-0 p-1"><a href="{{ doc.url}}">{{ doc.title }}</a></li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->



<ul id="docs-nav-accordion" class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link  text-dark  p-1 {% if page.url == '/docs/get-started' %} active {% endif %} " href="/docs/get-started">Get Started</a>
    </li>
    <li class="nav-item {% if page.url == '/docs/install' %} active {% endif %}">
        <a class="nav-link  text-dark  p-1  " href="/docs/install">Install</a>
    </li>
    <li class="nav-item {% if page.url == '/docs/install-with-docker' %} active {% endif %}">
        <a class="nav-link  text-dark  p-1  " href="/docs/install-with-docker">Install with docker</a>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target="#collapseOne">
        <a class="nav-link  text-dark  p-1" href="javascript:void(0);"> Invana Studio <span class="fa-pull-right">+</span></a>
        <ul id="collapseOne" class="collapse pl-4 {% if page.url contains '/invana-studio/' %} show {% endif %}" data-parent="#docs-nav-accordion">
            {% for doc in site.invana-studio %}
            <li class="list-group-item border-0   {% if page.url == doc.url %} active {% endif %}">
                <a class=" text-dark  " href="{{ doc.url}}">{{ doc.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target="#collapseTwo">
        <a class="nav-link  text-dark  p-1" href="javascript:void(0);"> Invana Engine <span class="fa-pull-right">+</span></a>

        <ul id="collapseTwo" class="collapse pl-4 {% if page.url contains '/invana-engine/' %} show {% endif %}" data-parent="#docs-nav-accordion">
            {% for doc in site.invana-engine %}
            <li class="list-group-item border-0   {% if page.url == doc.url %} active {% endif %}">
                <a class=" text-dark " href="{{ doc.url}}">{{ doc.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target="#collapseThree">
        <a class="nav-link  text-dark  p-1" href="javascript:void(0);"> Guides <span class="fa-pull-right">+</span></a>

        <ul id="collapseThree" class="collapse pl-4 {% if page.url contains '/guides/' %} show {% endif %}" data-parent="#docs-nav-accordion">
            {% for doc in site.guides %}
            <li class="list-group-item  border-0   {% if page.url == doc.url %} active {% endif %}">
                <a class=" text-dark " href="{{ doc.url}}">{{ doc.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>

<div class="card mt-5 pt-0 pb-3 pl-3 pr-3 bg-primary">
    <div class="card-body p-2 pt-3">
        <h3 class="h5 font-weight-bold">
            Need a demo ?
        </h3>
        <p>Get in touch with us, if you want us to walk you through how you can build knowledge graphs using
            Invana. </p>


        <a href="/contact" class="btn btn-dark">Request demo</a>
        <!--                        <a href="/guides" class="btn btn-outline-dark">Checkout Docs</a>-->
    </div>
</div>

